# Visual Studio Files
.vs/
Dirt/*/bin
Dirt/*/obj
Mud/*/bin
Mud/*/obj
Unity/*/bin
Unity/*/obj
Externals/*/bin
Externals/*/obj
/packages/

# Tests
Dirt/Tests/*/bin
Dirt/Tests/*/obj

# CLI
CLI/*/bin
CLI/*/obj