<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="ServerPort" value="11000"/>
      <add key="MaxClient" value="32"/>
      <add key="PluginFile" value="Dirt.ServerApplication"/>
      <add key="PluginClass" value="Dirt.ServerApplication.DummyPlugin"/>
      <add key="ContentRoot" value="../../../Content/"/>
      <add key="ContentVersion" value="gamecontent"/>
      <add key="WebServerPort" value="8080"/>
      <add key="TickRate" value="60"/>
    </appSettings>
</configuration>