<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="ServerPort" value="11000"/>
      <add key="MaxClient" value="12"/>
      <add key="PluginFile" value="Space.Plugin.dll"/>
      <add key="PluginClass" value="Space.SpacePlugin"/>
      <add key="ContentRoot" value="../../../../Content/"/>
      <add key="ContentVersion" value="gamecontent"/>
      <add key="WebServerPort" value="8080"/>
      <add key="TickRate" value="60"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>